<div class="col-md-12">




<div class="dropdown clearfix pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        排序
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li> <%= link_to("工资上限排序", jobs_path(:order => 'up_bound')) %> </li>
        <li><%= link_to("工资下限排序", jobs_path(:order =>'dw_bound'))%></li>
        <li><%= link_to("发表时间", jobs_path)%></li>
    </ul>
</div>

<table class="table  ">
  <td>
<%= render :partial =>"job", :collection =>@jobs, :as=>:job%>
</td>

</table>
</div>
