<div class="col-md-12">

<div class="pull-right">
  <%=link_to("new job", new_admin_job_path, class:"btn btn-default ")%>
</div>
<br><br>
<br><br>
<table class="table  ">
  <td>
<%= render :partial =>"job", :collection =>@jobs, :as=>:job%>
</td>

</table>
</div>
