<div class="col-md-12">

<div class="pull-right">
  <%=link_to("new job", new_admin_job_path, class:"btn btn-default ")%>
</div>
<br><br>
<br><br>
<table class="table  ">
  <thead>
        <tr>
            <td>
                职缺
            </td>

            <td>
              收到履历数量
            </td>
            <td>
                薪资下限
            </td>
            <td>
                薪资上限
            </td>
            <td>
                管理选项
            </td>
            <td>
                刊登时间
            </td>
        </tr>
    </thead>
<%= render :partial =>"job", :collection =>@jobs, :as=>:job%>


</table>
</div>
